<header class="header__root">
  <ng-container *ngTemplateOutlet="hsvgback"></ng-container>

  <div class="header__content">
    <h1 class="logo">{{ title }}</h1>
    <ul class="header__nav nav">
      <li class="nav__item" *ngFor="let item of navItems">
        <a href="#" [id]="item.id" (click)="onNavItemClick(item)">{{
          item.label
        }}</a>
      </li>
    </ul>
    <div class="login-btn">
      <rand-button color="danger" rand-rounded (onClick)="onLogin()">{{
        loginTxt
      }}</rand-button>
    </div>
  </div>
</header>

<!-- backround svg -->
<ng-template #hsvgback>
  <svg
    class="header-background"
    preserveAspectRatio="none"
    viewBox="0 0 1919 223"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="wavedown"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 223L63.9667 198C127.933 180 255.867 144 383.8 144C511.733 144 790.588 177.5 918.521 177.5C1046.45 177.5 1221.36 152.884 1349.3 146.884C1477.23 140.884 1487.01 146.249 1601.67 159.384C1667.13 166.884 1748.09 183 1838.04 201.5L1919 223V0H1855.03C1791.07 0 1663.13 0 1535.2 0C1407.27 0 1279.33 0 1151.4 0C1023.47 0 895.533 0 767.6 0C639.667 0 511.733 0 383.8 0C255.867 0 127.933 0 63.9667 0H0V223Z"
    />
  </svg>
</ng-template>
