@use '../../../../themes/abstracts/mixins';

.pdf-compress {
  &__main {
    min-height: 80vh;
  }
}

.section-compress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 15rem;

  & > * {
    margin-bottom: 3rem;
  }

  .title {
    font-size: var(--font-size-h3);
    text-align: center;
    color: var(--text-black-color);
  }
}

.compress-actions {
  display: flex;
  justify-content: space-between;

  .compress-quality {
    width: 100%;
    margin-right: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--background-color);
  }

  .action-buttons {
    display: flex;
    font-weight: 600;
    font-size: 1.5rem;

    & > * {
      margin-left: 1.5rem;
      color: var(--text-dark-btn-color);
    }
  }
}

.section-related-tools {
  padding: 1rem 9rem;
  margin: 5rem 0;
}
