<footer class="footer__root">
  <ng-container *ngTemplateOutlet="fsvgback"></ng-container>
</footer>

<!-- background svg -->
<ng-template #fsvgback>
  <svg
    class="footer-background"
    preserveAspectRatio="none"
    viewBox="0 0 1920 368"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1 8L160.917 50C320.833 92 640.667 176 960.5 176C1280.33 176 1600.17 92 1760.08 50L1920 8V368H1760.08C1600.17 368 1280.33 368 960.5 368C640.667 368 320.833 368 160.917 368H1V8Z"
      />
    </g>
    <defs>
      <filter
        id="filter0_d"
        x="-3"
        y="0"
        width="1927"
        height="368"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="-4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</ng-template>
