.footer {
  &__root {
    position: relative;
    z-index: 10;
    height: var(--height-footer);
    width: 100%;
  }
}

svg.footer-background {
  position: absolute;
  width: 100%;
  height: var(--height-footer);
  fill: url(#g-primary);
  z-index: -1;
}
