<div class="rand-select-wrapper">
  <div
    class="rand-select"
    [ngClass]="getSelectColorClazz()"
    (click)="toggleOptionsPanel()"
  >
    {{ data[activeItemIdx]?.label || "" }}
  </div>
  <span
    class="rand-select-arrow"
    [ngClass]="randStyleService.getColorClazz(color)"
    [class.rand-select-arrow-up]="this.opened"
  ></span>

  <div
    class="rand-select-dropdown"
    [class.dropdown-visible]="opened"
    [ngClass]="randStyleService.getColorClazz(color)"
  >
    <ng-container *ngTemplateOutlet="selectoptions"></ng-container>
  </div>
</div>

<ng-template #selectoptions>
  <div
    class="rand-select-option"
    [class.disabled]="item.disabled"
    *ngFor="let item of data; let idx = index"
    (click)="optionSelected(item, idx)"
  >
    <div>{{ item.label }}</div>
  </div>
</ng-template>
