@mixin oulined-button-style($color) {
  background: none;
  border: 3px solid $color;
  color: $color;

  &:hover {
    background-color: $color;
    color: var(--text-white);
  }
}

@mixin button-colorscheme-classes(
  $schemes: (
    "primary",
    "secondary",
    "accent",
    "danger",
  )
) {
  @each $scheme in $schemes {
    .rand-#{$scheme}-btn {
      background-color: var(--#{$scheme}-color-500);
      &.rand-outlined {
        @include oulined-button-style(var(--#{$scheme}-color-500));
      }
    }
  }
}

@mixin select-colorscheme-classes(
  $schemes: (
    "primary",
    "secondary",
    "accent",
    "danger",
  )
) {
  @each $scheme in $schemes {
    .rand-#{$scheme}-select {
      color: var(--#{$scheme}-color-500);
      border: 3px solid currentColor;
    }
  }
}

@mixin colorscheme-classes(
  $schemes: (
    "primary",
    "secondary",
    "accent",
    "danger",
  )
) {
  @each $scheme in $schemes {
    .rand-#{$scheme}-color {
      color: var(--#{$scheme}-color-500);
      &::before,
      &::after {
        background-color: var(--#{$scheme}-color-600);
      }
    }
    .rand-#{$scheme}-background-color {
      background-color: var(--#{$scheme}-color-500);
    }
  }
}
